/* Header Container */
.header {
    text-align: center;
    border: 2px groove black;
    /* Proper border syntax */
    /* Rounded corners */
    padding: 10px;
    background-color: #f8f8f8;
    /* Optional: light background */
    background-image: url("/backg.jpg");
    color: white;

}

.site-name {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.tagline {
    font-size: 14px;
    font-weight: bold;
    background: red;
    color: white;
    padding: 2px 10px;
    display: inline-block;
    margin-top: 5px;
}